.floating {
  display: flex;
	flex-direction: column;
	position: absolute;
	right: var(--x, 10px);
	bottom: var(--y, 10px);
	width: var(--width, 400px);
	height: var(--height, 300px);
	background: #fff;
	box-shadow: 0 5px 20px rgba(0,0,0,0.3);
	border-radius: 5px 5px 0 0;
	font: 14px/1.3 system-ui, helvetica, arial;
	transition: box-shadow 300ms ease;
	outline: none;
}

.floating:focus-within {
	box-shadow: 0 10px 40px rgba(0,0,0,0.5);
	z-index: 1;
}

.header {
	flex: 0 0 auto;
	padding: 4px;
	height: 16px;
	background: #ccc;
	border-radius: 5px 5px 0 0;
	box-shadow: inset 0 0.5px 0 rgba(255,255,255,0.5), inset 0 -0.5px 0 rgba(0,0,0,0.2);
	color: #666;
	text-align: center;
	text-shadow: 0 .5px 0 rgba(255,255,255,0.5);
	cursor: default;
	touch-action: none;
	user-select: none;	
}

.log-content {
  flex: 1;
	overflow: auto;
  padding: 2px;
}

.info-content {
  flex: 1;
	overflow: auto;
  padding: 2px;
}

.warn-content {
  flex: 1;
	overflow: auto;
  padding: 2px;
  color: orange;
}

.error-content {
  flex: 1;
	overflow: auto;
  padding: 2px;
  color: red;
}