.container {
  height: 100%;
  display: flex;  
}

.container-with-padding {
  height: 100%;
  display: flex;
  padding: 5px; 
}

.verticalChild {
  margin-bottom: 5px;
}

.horizontalChild {
  margin-right: 5px;
}